// 全局样式，方便更改以后的配色及大小

$color-bg=#222
$color-bd-d=rgba(0,0,0,.3)
$color-hl-bg=#333333
$color-dialog-bg=#666666
$color-theme=#ffcd32
$color-theme-d=rgba(255,205,49,.5)
$color-sub-theme=#d93f30
$color-text=#ffffff
$color-text-d=rgba(255,255,255,.3)
$color-text-l=rgba(255,255,255,.5)
$color-text-ll=rgba(255,255,255,.8)

$font-size-xs=10px
$font-size-s=12px
$font-size-m=14px
$font-size-l=16px
$font-size-xl=18px
$font-size-xxl=22px
$font-size-xxxxl = 36px